<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task5.Frontend</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task5.Frontend.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">EMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @* <li class="nav-item">
                        <a class="nav-link" asp-page="Index">Home</a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link" href="/Employee/Index">Employees</a>
                    </li>
                </ul>
                <ul class="navbar-nav" id="authLinks">
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Task5.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    let token = localStorage.getItem('jwt');
    var authLinks = $('#authLinks');

    if (token) {
        authLinks.append('<li class="nav-item"><a class="nav-link" id="logoutLink" href="#">Logout</a></li>');
    } else {
        authLinks.append('<li class="nav-item"><a class="nav-link" id="loginLink" href="/Account/Login">Login</a></li>');
        authLinks.append('<li class="nav-item"><a class="nav-link" id="registerLink" href="/Account/Register">Register</a></li>');
    }

    $('#logoutLink').click(function () {
        localStorage.removeItem('jwt');
        window.location.href = '/Account/Login';
    });
</script>