@page
@model Task5.Frontend.Pages.Account.RegisterModel
@{
}

<!DOCTYPE html>
<html>

<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Register</h2>
                <div id="error-message" class="text-danger"></div>
                <form id="registrationForm">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password"
                               required minlength="6">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Include jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> *@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#registrationForm").submit(function (e) {
                e.preventDefault();

                var name = $("#inputName").val();
                var email = $("#inputEmail").val();
                var password = $("#inputPassword").val();

                var formData = {
                    Name: name,
                    Email: email,
                    Password: password,
                    Role: "User"
                };

                $.ajax({
                    type: "POST",
                    url: "https://localhost:7035/api/Auth",
                    data: JSON.stringify(formData),
                    contentType: "application/json",
                    success: function (data) {
                        if (!data.success) {
                            $("#error-message").text(data.message);
                        }
                        else {
                            window.location.href = "/Account/Login"
                        }

                    },
                    error: function (error) {
                        $("#error-message").text("Registration failed");
                    }
                });
            });
        });
    </script>
</body>

</html>